<div class="play-container">
    <div class="triangle">
            <div class="row">
                <div class="paper">
                    <div class="circle">
                    <img src="icons/icon-paper.svg">
                    </div>
                </div>
                <div class="scissors">
                    <div class="circle">
                        <img src="icons/icon-scissors.svg">
                    </div>
                </div>
            </div>
            <div class="row-2">
            <div class="rock">
                <div class="circle">
                    <img src="icons/icon-rock.svg">
                </div>
            </div>
            </div>
    </div>
</div>
